<div>
    <h2>
        <span jhiTranslate="ysPaiementApp.paiement.home.title">Paiements</span>
        <button class="btn btn-primary float-right jh-create-entity create-paiement" [routerLink]="['/', { outlets: { popup: ['paiement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ysPaiementApp.paiement.home.createLabel">
            Create new Paiement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paiements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="etat"><span jhiTranslate="ysPaiementApp.paiement.etat">Etat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="methode"><span jhiTranslate="ysPaiementApp.paiement.methode">Methode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="montantarticle"><span jhiTranslate="ysPaiementApp.paiement.montantarticle">Montantarticle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fraisoperateur"><span jhiTranslate="ysPaiementApp.paiement.fraisoperateur">Fraisoperateur</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="totalfrais"><span jhiTranslate="ysPaiementApp.paiement.totalfrais">Totalfrais</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="confirmepar"><span jhiTranslate="ysPaiementApp.paiement.confirmepar">Confirmepar</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="datepaiement"><span jhiTranslate="ysPaiementApp.paiement.datepaiement">Datepaiement</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="devise"><span jhiTranslate="ysPaiementApp.paiement.devise">Devise</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateconfirmation"><span jhiTranslate="ysPaiementApp.paiement.dateconfirmation">Dateconfirmation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="clientId"><span jhiTranslate="ysPaiementApp.paiement.client">Client</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paiement of paiements ;trackBy: trackId">
                <td><a [routerLink]="['../paiement', paiement.id ]">{{paiement.id}}</a></td>
                <td>{{paiement.etat}}</td>
                <td>{{paiement.methode}}</td>
                <td>{{paiement.montantarticle}}</td>
                <td>{{paiement.fraisoperateur}}</td>
                <td>{{paiement.totalfrais}}</td>
                <td>{{paiement.confirmepar}}</td>
                <td>{{paiement.datepaiement | date:'mediumDate'}}</td>
                <td>{{paiement.devise}}</td>
                <td>{{paiement.dateconfirmation | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="paiement.clientId">
                        <a [routerLink]="['../client', paiement.clientId  ]" >{{paiement.clientId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../paiement', paiement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="paiements && paiements.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
