
<div *ngIf="paiement">
    <h2><span jhiTranslate="ysPaiementApp.paiement.detail.title">Paiement</span> {{paiement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ysPaiementApp.paiement.etat">Etat</span></dt>
        <dd>
            <span>{{paiement.etat}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.methode">Methode</span></dt>
        <dd>
            <span>{{paiement.methode}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.montantarticle">Montantarticle</span></dt>
        <dd>
            <span>{{paiement.montantarticle}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.fraisoperateur">Fraisoperateur</span></dt>
        <dd>
            <span>{{paiement.fraisoperateur}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.totalfrais">Totalfrais</span></dt>
        <dd>
            <span>{{paiement.totalfrais}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.confirmepar">Confirmepar</span></dt>
        <dd>
            <span>{{paiement.confirmepar}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.datepaiement">Datepaiement</span></dt>
        <dd>
            <span>{{paiement.datepaiement | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.devise">Devise</span></dt>
        <dd>
            <span>{{paiement.devise}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.dateconfirmation">Dateconfirmation</span></dt>
        <dd>
            <span>{{paiement.dateconfirmation | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.paiement.client">Client</span></dt>
        <dd>
            <div *ngIf="paiement.clientId">
                <a [routerLink]="['/client', paiement.clientId]">{{paiement.clientId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
