<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPaiementLabel" jhiTranslate="ysPaiementApp.paiement.home.createOrEditLabel">Create or edit a Paiement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!paiement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="paiement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.etat" for="field_etat">Etat</label>
            <input type="text" class="form-control" name="etat" id="field_etat"
                [(ngModel)]="paiement.etat" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.methode" for="field_methode">Methode</label>
            <input type="text" class="form-control" name="methode" id="field_methode"
                [(ngModel)]="paiement.methode" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.montantarticle" for="field_montantarticle">Montantarticle</label>
            <input type="number" class="form-control" name="montantarticle" id="field_montantarticle"
                [(ngModel)]="paiement.montantarticle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.fraisoperateur" for="field_fraisoperateur">Fraisoperateur</label>
            <input type="number" class="form-control" name="fraisoperateur" id="field_fraisoperateur"
                [(ngModel)]="paiement.fraisoperateur" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.totalfrais" for="field_totalfrais">Totalfrais</label>
            <input type="number" class="form-control" name="totalfrais" id="field_totalfrais"
                [(ngModel)]="paiement.totalfrais" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.confirmepar" for="field_confirmepar">Confirmepar</label>
            <input type="text" class="form-control" name="confirmepar" id="field_confirmepar"
                [(ngModel)]="paiement.confirmepar" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.datepaiement" for="field_datepaiement">Datepaiement</label>
            <div class="input-group">
                <input id="field_datepaiement" type="text" class="form-control" name="datepaiement" ngbDatepicker  #datepaiementDp="ngbDatepicker" [(ngModel)]="paiement.datepaiement"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="datepaiementDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.devise" for="field_devise">Devise</label>
            <input type="text" class="form-control" name="devise" id="field_devise"
                [(ngModel)]="paiement.devise" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.dateconfirmation" for="field_dateconfirmation">Dateconfirmation</label>
            <div class="input-group">
                <input id="field_dateconfirmation" type="text" class="form-control" name="dateconfirmation" ngbDatepicker  #dateconfirmationDp="ngbDatepicker" [(ngModel)]="paiement.dateconfirmation"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateconfirmationDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.paiement.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="paiement.clientId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
