<div>
    <h2>
        <span jhiTranslate="ysPaiementApp.client.home.title">Clients</span>
        <button class="btn btn-primary float-right jh-create-entity create-client" [routerLink]="['/', { outlets: { popup: ['client-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="ysPaiementApp.client.home.createLabel">
            Create new Client
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="clients">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nom"><span jhiTranslate="ysPaiementApp.client.nom">Nom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="prenom"><span jhiTranslate="ysPaiementApp.client.prenom">Prenom</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mail1"><span jhiTranslate="ysPaiementApp.client.mail1">Mail 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="mail2"><span jhiTranslate="ysPaiementApp.client.mail2">Mail 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telephone1"><span jhiTranslate="ysPaiementApp.client.telephone1">Telephone 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="telephone2"><span jhiTranslate="ysPaiementApp.client.telephone2">Telephone 2</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients ;trackBy: trackId">
                <td><a [routerLink]="['../client', client.id ]">{{client.id}}</a></td>
                <td>{{client.nom}}</td>
                <td>{{client.prenom}}</td>
                <td>{{client.mail1}}</td>
                <td>{{client.mail2}}</td>
                <td>{{client.telephone1}}</td>
                <td>{{client.telephone2}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../client', client.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="clients && clients.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
