<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel" jhiTranslate="ysPaiementApp.client.home.createOrEditLabel">Create or edit a Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.client.nom" for="field_nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="field_nom"
                [(ngModel)]="client.nom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.client.prenom" for="field_prenom">Prenom</label>
            <input type="text" class="form-control" name="prenom" id="field_prenom"
                [(ngModel)]="client.prenom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.client.mail1" for="field_mail1">Mail 1</label>
            <input type="text" class="form-control" name="mail1" id="field_mail1"
                [(ngModel)]="client.mail1" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.client.mail2" for="field_mail2">Mail 2</label>
            <input type="text" class="form-control" name="mail2" id="field_mail2"
                [(ngModel)]="client.mail2" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.client.telephone1" for="field_telephone1">Telephone 1</label>
            <input type="text" class="form-control" name="telephone1" id="field_telephone1"
                [(ngModel)]="client.telephone1" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ysPaiementApp.client.telephone2" for="field_telephone2">Telephone 2</label>
            <input type="text" class="form-control" name="telephone2" id="field_telephone2"
                [(ngModel)]="client.telephone2" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
