
<div *ngIf="client">
    <h2><span jhiTranslate="ysPaiementApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="ysPaiementApp.client.nom">Nom</span></dt>
        <dd>
            <span>{{client.nom}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.client.prenom">Prenom</span></dt>
        <dd>
            <span>{{client.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.client.mail1">Mail 1</span></dt>
        <dd>
            <span>{{client.mail1}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.client.mail2">Mail 2</span></dt>
        <dd>
            <span>{{client.mail2}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.client.telephone1">Telephone 1</span></dt>
        <dd>
            <span>{{client.telephone1}}</span>
        </dd>
        <dt><span jhiTranslate="ysPaiementApp.client.telephone2">Telephone 2</span></dt>
        <dd>
            <span>{{client.telephone2}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
